*{
    margin: 0 20px;
    padding: 0;

}

body{

    background-color: blanchedalmond;
    font-family: 'Shippori Mincho', serif;
}

#note{
    text-align: center;
    color:rgb(80, 67, 49);
    font-size: 1rem;
    font-weight: bold;
}

main{

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#thought-tracker{
    text-align: left;
}

#ttform{
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    border-color: burlywood;
    border-style: solid;
    color: burlywood;
    background-color: transparent;
}

#ttform p{
    opacity: 0;
}

#ttform p:hover{
    opacity: 100%;
}

#ttform:hover{
    cursor: pointer;
    border-color:darkred;
    color:darkred;
    background-color: white;
}

#ttform:focus{
    border-color:whitesmoke;
    color:white;
    background-color: darkred;

}

#poem-holder{

    padding: 10px;
    bottom: 0px;
    width: 40vw;

}

h2{
    color:rgb(158, 132, 98);
}

h3{
    color:rgb(80, 67, 49);
    font-size: 1rem;

}

h4{
    text-align: right;
    color:rgb(80, 67, 49);
    font-size: 1rem;
}


#poem-holder p{
    text-align: right;
    color:rgb(83, 72, 57);
    

}

#clock{
    font-size: 10rem;
  
}

header{
    position:relative;
    top: 0px;
    left: 0px;
    width: 40vw;
}

@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    header{
        position: unset;
        width: unset;
    }

    main{
        padding-top: unset;
    }

    body{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #clock{
        position: unset;
        padding-top: unset;

    }

    #poem-holder{
        width:80vw;
        margin-top:unset;
    }

    #thought-tracker{
        margin: 5%;
    }

    #ttform{
        font-size: 1rem;
    }
 
  }

  .darkmode{
      background-color:rgb(0, 0, 20);
      color:blanchedalmond;
  }

