*{
    margin: 0 20px;
    padding: 0;

}

body{

    background-color: blanchedalmond;
    font-family: 'Shippori Mincho', serif;
    cursor: crosshair;
}

#note{
    text-align: center;
    color:rgb(80, 67, 49);
    font-size: 1rem;
    font-weight: bold;
}

#msg{
    width: 40vw;
}

main{

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#thought-tracker{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

button{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    border-style: solid;
    background-color: transparent;
    border-color: burlywood;
    color: burlywood; 
}

button:hover{
    cursor: pointer;
    background-color: rgb(252, 241, 225);
    border-color: rgb(221, 158, 76);
    color:  rgb(221, 158, 76); 

}

button:focus{
    cursor: pointer;
    background-color:rgb(14, 14, 14);

}


#meditate{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}




#poem-holder{

    margin: 3%;

    width: 50vw;

}

h2{
    color:rgb(158, 132, 98);
}

h3{
    color:rgb(80, 67, 49);
    font-size: 1rem;

}

h4{
    text-align: right;
    color:rgb(80, 67, 49);
    font-size: 1rem;
}


#poem-holder p{
    text-align: right;
    color:rgb(83, 72, 57);
    

}

#clock{
    font-size: 10rem;
  
}

header{
    position:relative;
    top: 0px;
    left: 0px;
    display: flex;
    padding: 1%;
}

#righthead{
    flex-direction: column;
    justify-content: center;

}

#lefthead{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

#info{
    right: 0px;
    cursor: pointer;
}

#info:hover{
    color:rgb(83, 72, 57);
}

#info:focus{
    color:burlywood;
}


  @media only screen and (max-width: 1106px) {

header{
    flex-direction: column;
}

#lefthead{
    justify-content: stretch;
}

#msg{
    width:unset;
    justify-content: stretch;
}

main{
    flex-direction: column;
}

#poem-holder{
    width: unset;
    justify-content: stretch;
    margin: 5%;
}



#meditate{
  width: unset;
  justify-content: stretch;

}


#thought-tracker{
justify-content: stretch;
}

#poem-holder{
  margin:unset;
  justify-content: stretch;
}

button{
  margin: 5%;
}

#righthead{
  justify-content: stretch;
}

#msg{
  width:unset;

}
 

  }

  @media only screen and (max-width: 700px){
    #clock{
        font-size: 5rem;
    }

  }

  @media only screen and (max-width: 400px){
    #clock{
        font-size: 3rem;
    }

    #thought-tracker{
        flex-direction: column;
    }

  }

 

  .darkmode{
      background-color:rgb(26, 25, 36);
      color:blanchedalmond;
  }

